<a href="https://colab.research.google.com/github/YeshayaG/MCON_141/blob/main/concatenate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this function that takes in two lists and concatenates the numbers in those lists. For instance, if we have [1 2 3] and [7 8 9],it returns[17 28 39].

In [5]:
def concatenate(x,y):
  if len(x) != len(y):
    print("error")
    return
  z = []
  for i in range(len(x)):
    z.append(int(str(x[i])+str(y[i])))
  return z

In [6]:
x = [1,2,3,5,6]
y = [4,2,4,1,6]
concatenate(x,y)

[14, 22, 34, 51, 66]