<a href="https://colab.research.google.com/github/YeshayaG/MCON_141/blob/main/num_between_sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#use this function to return the sum from number 1 to number 2
def num_sum(x,y):
  ints = []
  for num in range(x,y+1):
    ints.append(num)
  p = sum(ints)
  print(p)

In [5]:
num_sum(4,71)

2550

In [1]:
#use this function to return the sum from number 1 to number 2
def num_sum2(x,y):
  t = 0
  for num in range(x,y+1):
      t = num + t
  print(t)

In [6]:
num_sum2(4,71)

2550