<a href="https://colab.research.google.com/github/YeshayaG/MCON_141/blob/main/Twin_primes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#this function will output all the numbers below x that are twin primes
def is_prime(x):
  for i in range(2,x):
    if x%i == 0:
      return False
  return True

def twin_primes(x):
  primes = [2,3]
  twin_primes = []
  for i in range(4,x):
    if is_prime(i):
      primes.append(i)
      if i - primes[-2] == 2:
        twin_primes.append(primes[-2])
        twin_primes.append(i)
  return set(twin_primes)

In [19]:
twin_primes(100)

{3, 5, 7, 11, 13, 17, 19, 29, 31, 41, 43, 59, 61, 71, 73}